{% extends 'staff/stafftheme.html' %}
{% block content %}
<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Response</h4>

        </div>
    </div>
<div>
{% if user.is_authenticated and user.is_staff %}

<style>
    table,th,td{
        border: 1px solid black;
        align-center;
    }
    th{
        font-weight: bold;
    }
    table{
        width:100%;
        height:80%;       }
</style>


<div >
<table>
    <tr>
        <th> Complaint:	</th> 
        <th> Response:</th>
        <th>Status:</th> 
        <th> Update</th>

    </tr>
{% for i in res  %}
<tr> 
    <td>{{i.complaint}} </td>
    <td>{{i.response}} </td>
    <td> {{i.status}}</td>
    <td> <a href="/staff/response/{{i.id}}">Edit </a></td>

</tr>


{% endfor %}
</table>

</div>


{% else %}
<h1> You need to login as staff to view complaints</h1>

{% endif %}
{% endblock %}