<div class='container'>
    <style>
        table,th,td{
            border: 1px solid black;
            align-center;
        }
        th{
            font-weight: bold;
        }
        table{
            width:100%;
            height:80%;       }
    </style>

<h1> Staff login </h1>
<table>
    <tr>
        <th> Name</th>
        <th> Complaint</th> 
        <th> Course</th>
        <th> Contact No</th>
        <th>Created on </th> 
    </tr>
{% for i in sq  %}
<tr> 
    <td>{{i.username}} </td>
    <td>{{i.complaint}} </td>
    <td> {{i.coursename}}</td>
    <td> {{i.contact}}</td>
    <td> {{i.createdon}}</td>
</tr>


{% endfor %}
</table>

</div>

