

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'myCity/styles.css' %}">

    <title>Grievance Redressal Portal</title>
</head>
<body >

    <!-- Navbar -->
    <nav class=" nav-city navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item li-city">
                        <a class="nav-link text-dark h5 " aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item li-city ">
                        <a class="nav-link text-dark h5" href="#">Grievances</a>
                    </li>

                </ul>
                <p class="nav-link text-dark h5 " href="#" style=" margin: 0;">myCity</p>
            </div>
        </div>
    </nav>


    <!-- Container-1 -->
    <div class="container con-city">

        

        <div class="row">
            <div class="col-lg-8">
                <div class="box-city">
                    <p class="h3">Are you aggrieved with the
                    service of <span class="orange">GOVERNMENT</span>  agency ?</p>
                <p class="h2">Register your <span class="orange">Complaint</span>  Here!!!</p></div>
                
            </div>
            <div class="col-lg-4">
                <form action="{% url 'portalHome' %}" method="POST" class="form-city">
                {% csrf_token %}
                <p> 
                {%if messages %}
                    {% for msg in messages %}
                    
                        <code class="orange"> {{msg}} </code>
                    
                    {% endfor %}               
                {% endif %}
                </p>
                    <div class="form-group my-3 ">
                        <label class="mx-3 mb-1 text-white" for="cuser">User ID : </label>
                        <input type="text" class="form-control form-control-city" name="username" placeholder="Registered ID">
                    </div>
                    <div class="form-group my-3 ">
                        <label class="mx-3 mb-1 text-white" for="cuser">Password: </label>
                        <input type="password" class="form-control form-control-city" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-city mx-2 text-white">Login</button>
                    <button type="button" class="btn btn-city text-white"><a href="register">SignUp</a></button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="green-color m-4">Grievances we address</h1>
        {% load static %}
        <div class="row row-grie-one">
            <div class="col-lg-2 green">
                <img src="{% static 'myCity/icons/1.png' %}" alt="">
                <h4>Electricity</h4>
            </div>
            <div class="col-lg-2 green">
                <img src="{% static 'myCity/icons/2.png' %}" alt="">
                <h4>Roadways</h4>
            </div>
            <div class="col-lg-2 green">
                <img src="{% static 'myCity/icons/3.png' %}" alt="">
                <h4>Sanitation</h4>
            </div>
            <div class="col-lg-2 green ">
                <img src="{% static 'myCity/icons/4.png' %}" alt="">
                <h4>Health</h4>
            </div>
            <div class="col-lg-2 green">
                <img src="{% static 'myCity/icons/5.png' %}" alt="">
                <h4>Veterinary</h4>
            </div>
            <div class="col-lg-2 green">
                <img src="{% static 'myCity/icons/6.png' %}" alt="">
                <h4>Parking</h4>
            </div>
        </div>
        <div class="row row-grie-two mb-4">
            <div class="col-lg-2 green">
                <img src="{% static 'myCity/icons/7.png' %}" alt="">
                <h4>Entomology</h4>
            </div>
            <div class="col-lg-2 green">
                
                <img src=" {% static 'myCity/icons/8.png' %}" alt="">
                <h4>Urban Bio</h4>
            </div>
            <div class="col-lg-2 green">
                <img src="{% static 'myCity/icons/9.png' %}" alt="">
                <h4>Water</h4>
            </div>
            <div class="col-lg-2 green">
                <img src="{% static 'myCity/icons/10.png' %}" alt="">
                <h4>Water </h4>
            </div>
            <div class="col-lg-2 green">
                <img src="{% static 'myCity/icons/11.png' %}" alt="">
                <h4>Advert</h4>
            </div>
            <div class="col-lg-2 green">
                <img src="{% static 'myCity/icons/12.png' %}" alt="">
                <h4>Other</h4>
            </div>
        </div>
    </div>
    <div class="hyderabad" style="
    text-align: center;
">
        <img src="{% static 'myCity/icons/hyd.png' %}" alt="">
    </div>
    <div class="footer m-4" style="
    background-color: #006A71;
    text-align: center;
    color: white;
    border-radius: 40px;
"><p>Designed and Developed by Batch - 8 <br> Methodist College of Engneering and Technology</p> </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>