{% extends 'user/usertheme.html' %}

{% block content %}

<h1>Grievance Redressal Cell</h1>
<p>The Grievance Redressal Cell (GRC) aims to look into the complaints lodged by any student and redress it as per requirement. The students can state their grievance regarding any academic and non- academic matter within the campus through the online and grievance/ suggestion box. The institution aims at solving the grievances of the students within stipulated tacademic and non- academic matter within the campus through the online and grievance/ suggestion box. The institution aims at solving the grievances of the students within stipulated time. </p>

<h1> Objectives: </h1>
</p>The Grievance Redressal Cell has been developed to settle the grievances of the students and other stakeholders within a reasonable time period for further strengthening the bond of the students with the institution by providing them with all kind of facilities to a satisfaction level for maintaining a convenient ambience of academic teaching and learning. </p>

      
{% endblock content %}
